.desk {
  width: 754px;
}

.shakal-bar .bar-player {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 0;
  margin-right: 50px;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.shakal-bar .result {
  display: inline-block;
  width: 80px;
  margin: 10px;
  color: white;
  text-align: center;
  opacity: 0.4;
}

.shakal-bar .player-0 {background-color: red;}
.shakal-bar .player-1 {background-color: blue;}
.shakal-bar .player-2 {background-color: green;}
.shakal-bar .player-3 {background-color: violet;}
